In [1]:
from matplotlib.colors import BoundaryNorm, ListedColormap
from matplotlib.colorbar import ColorbarBase
import matplotlib as m
import matplotlib.pyplot as plt
from operator import itemgetter
import pandas as pd
import geopandas as gpd
import numpy as np
import copy
import json

In [2]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['figure.figsize']=(30,10)
mpl.style.use('ggplot')

In [44]:
import cartopy.crs as ccrs
import cartopy.feature as cf
from matplotlib import pyplot as plt

In [45]:
df_shp = gpd.read_file('C:/Users/15311/Desktop/natural_earth_vector/10m_cultural/ne_10m_admin_0_countries.shp')

In [46]:
consumption_concentration = pd.read_csv('C:/Users/15311/Desktop/concentration_matrix2.csv')

In [47]:
production_concentration = pd.read_csv('C:/Users/15311/Desktop/Concentration_Production.csv')

In [48]:
con = pd.DataFrame(consumption_concentration.sum())[1:].reset_index()
pro = pd.DataFrame(production_concentration.sum())[1:].reset_index()

In [49]:
con.columns = ['Country','Concentration']
pro.columns = ['Country','Concentration']

In [50]:
country_continent = pd.read_csv("country_continent.csv")

In [51]:
country_continent = country_continent[['ADM0_A3','CONTINENT']]
country_continent.columns = ['Country','Continent']

In [52]:
con = con.merge(country_continent,on='Country')
pro = pro.merge(country_continent,on='Country')

In [53]:
idx_con = con.groupby(['Continent'])['Concentration'].transform(max) == con['Concentration']
idx_pro = pro.groupby(['Continent'])['Concentration'].transform(max) == pro['Concentration']

In [54]:
con[idx_con] # Top consumption-based emission countries in each continent

    Country  Concentration                Continent
9       AUS   4.471473e+04                  Oceania
25      BRA   3.887559e+05            South America
39      CHN   3.614352e+06                     Asia
66      DEU   1.317476e+05                   Europe
109     MUS   2.226795e+03  Seven seas (open ocean)
154     ZAF   3.512865e+05                   Africa
178     USA   7.030017e+05            North America

In [55]:
pro[idx_pro] # Top production-based emission countries in each continent

    Country  Concentration                Continent
9       AUS   1.310313e+04                  Oceania
25      BRA   4.247994e+05            South America
39      CHN   4.018455e+06                     Asia
109     MUS   1.048402e+03  Seven seas (open ocean)
110     MEX   2.931079e+05            North America
140     RUS   9.438575e+04                   Europe
154     ZAF   4.003649e+05                   Africa